body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Marmelad', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: black;
    background-repeat: no-repeat;
    background-size: auto;
  }

.menu {
  top: 0;
  left: 0;
  position: absolute;
  background: lightskyblue;
  width: 0px;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}

.menu > div {
  display: none;
}

.menu.open {
  width: 100%;
}

.menu.open > div {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  font-size: 16px;
}

.menu.open .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}

.menu.open .close-icon > img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu.open .result-container {
  margin: 10px 0 10px 0;
}

.menu.open .input-container > input{
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.search-icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
}

.search-icon.moving {
  left: 85%;
}

.search-icon > img {
  width: 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.location-icon {
  position: absolute;
  top: 0;
  right: 0;
}

.location-icon > img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.daily-forecasts-data-condition-header {
  display: flex;
  align-items: center
}

.forecast-wrapper .forecasts-date {
  display: flex;
  justify-content: center;
}

.daily-forecasts-data-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.five-days-forecast-block {
  display: none;
  position: relative;
  overflow: hidden;
  width: 320px;
}
.slider-container {
  display: flex;
  justify-content: center;
}
.slider-nav {
  display: none;
  justify-content: space-around;
  padding: 15px 0 15px 0;
}

.separator {
  padding: 0px 10px 0px 10px
}
.slider-wrapper {
  display: flex;
  position: relative;
  width: 9999px;
  transition: all 0.5s ease; 
  touch-action: manipulation;
}
.forecast-wrapper {
  width: 300px;
  margin-right: 20px;
}

.current-conditions-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.current-location-block {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.current-location-block > div {
  padding: 10px 0px 10px 5px;
}

.Ñurrent-weather-block {
  display: flex;
  justify-content: center;
}

.current-weather-icon > img {
  width: 120px;
}

.current-weather-temperature {
  display: flex;
  align-items: center;
}

.daily-forecast-block {
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0px;
  padding: 15px;
  overflow: hidden;
  transition: all 0.7s;
  box-sizing: border-box;
}

.daily-forecast-block.open {
  height: 100%;
}
.background-wrapper {
  background-image: url('../img/cloud-font.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.7s;
}

.background-wrapper.visibility {
  height: 100vh;
}
.background-wrapper.night {
  background-image: url('../img/night-wrapper.jpg');
  background-size: cover;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hours-weather-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 170px;
}