body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Marmelad', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: black;
    background-repeat: no-repeat;
    background-size: auto;
  }

.menu {
  top: 0;
  left: 0;
  position: absolute;
  background-image: url('../img/map.png');
  background-position: 50%;
  width: 0px;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}

.menu > div {
  display: none;
}

.menu.open {
  width: 100%;
}

.menu.open > div {
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
  font-size: 16px;
}

.menu.open .close-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
}

.menu.open .close-icon > img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.menu.open .result-container {
  margin: 10px 0 10px 0;
}

.menu.open .input-container > input{
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.search-icon {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
}

.search-icon.moving {
  left: 85%;
}

.search-icon > img {
  width: 30px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.location-icon {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}

.location-icon > img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
}

.daily-forecasts-data-condition-header {
  display: flex;
  align-items: center
}

.forecast-wrapper .forecasts-date {
  display: flex;
  justify-content: center;
}

.daily-forecasts-data-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.five-days-forecast-block {
  display: none;
  position: relative;
  overflow: hidden;
  width: 320px;
}
.slider-container {
  display: flex;
  justify-content: center;
}
.slider-nav {
  display: none;
  justify-content: space-around;
  padding: 15px 0 15px 0;
}

.separator {
  padding: 0px 10px 0px 10px
}
.slider-wrapper {
  display: flex;
  position: relative;
  width: 9999px;
  transition: all 0.5s ease; 
  touch-action: manipulation;
}
.forecast-wrapper {
  width: 300px;
  margin-right: 20px;
}

.current-conditions-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
}

.current-location-block {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.current-location-block > div {
  padding: 10px 0px 10px 5px;
}

.Ñurrent-weather-block {
  display: flex;
  justify-content: center;
}

.current-weather-icon > img {
  width: 120px;
}

.current-weather-temperature {
  display: flex;
  align-items: center;
}

.daily-forecast-block {
  position: absolute;
  height: 40%;
  width: 100%;
  bottom: 0px;
  padding: 15px 15px 15px 15px;
  overflow: hidden;
  transition: all 0.7s;
  box-sizing: border-box;
}

.daily-forecast-block.open {
  height: 100%;
  padding: 15px 15px 0px 15px;
}
.background-wrapper {
  background-image: url('../img/cloud-font.jpg');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.7s;
}

.background-wrapper.visibility {
  height: 100%;
}
.background-wrapper.night {
  background-image: url('../img/night-wrapper.jpg');
  background-size: cover;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hours-weather-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 170px;
}

.error-message {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.message {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #000;
  text-align: center;
}

.message span {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 26px;
  font-weight: 900;
  text-decoration: none;
  color: white;
  display: inline-block;
  background-size: 120% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -ms-background-clip: text;
  -ms-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(45deg, 
                    #7794ff, 
                    #44107A,
                    #FF1361,
                    #FFF800);
  animation: .8s shake infinite alternate;
}

  /* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); } 
}